body {
    background-color: lightgray;
}

.default-border {
    border: 2px solid #1E90FF;
    padding: 5px;
}

.default-padding {
    padding: 10px 20px;
}

.default-bgcolor {
    background-color: rgb(252, 252, 252);
}

.pager, #copyright {
    margin: 30px 10px;
}

.sidebar {
    color: rgb(155, 155, 155);
    margin-top: 20px;
}

a:hover {
    color: rgb(214, 0, 52);
}

#slogan, .content-title {
    text-align: center;
}

.content-title a {
    color: #777777;
}

#slogan a  {
    color: #1C1C1C;
}

#slogan a:hover, .content-title a:hover {
    text-decoration: none;
    color: #1E90FF;
}

.date, #copyright {
    color: gray;
}

#author {
    text-decoration: overline;
    color: #1E90FF;
}

#links-with-image .sidebar li div {
    text-align: center;
}

#tags .tag-url {
    border: 1px solid #1E90FF;
    border-radius: 0;
    padding: 3px;
    margin: 1px;
}

#gravatar-section {
    margin-top: 9px;
}

#categories {
    margin-top: 69px;
}